body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: black;
}

.tetrogrid {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;

  &__bg-wrap {
    position: absolute;
    top: 0;
    left: 0;
    width: 200%;
    height: 100%;
    display: flex;
    z-index: -1;

    &--default {
      animation: moveBackground 20s linear infinite;
    }

    &--beginner {
      animation: moveBackground 15s linear infinite;
    }

    &--apprentice {
      animation: moveBackground 10s linear infinite;
    }

    &--veteran {
      animation: moveBackground 6s linear infinite;
    }

    &--legend {
      animation: moveBackground 3s linear infinite;
    }
  }

  &__bg-stop {
    animation: none;
  }
  
  &__bg {
    width: 100%;
    height: 100%;
    background-size: 50%;
    background-position: center;
    background-repeat: repeat-x;

    &--grass {
      background-image:          
                      url('./../../vendor/backgroud/backgroundColorGrass.png'),
                      linear-gradient(
                        180deg,
                        #cfeffc 0%, 
                        #cfeffc 49%, 
                        #22be75 51%, 
                        #22be75 100%
                      );
    }

    &--desert {
      background-image:          
                      url('./../../vendor/backgroud/backgroundColorDesert.png'),
                      linear-gradient(
                        180deg,
                        #cfeffc 0%, 
                        #cfeffc 49%, 
                        #f0e3c1 51%, 
                        #f0e3c1 100%
                      );
    }

    &--fall {
      background-image:          
                      url('./../../vendor/backgroud/backgroundColorFall.png'),
                      linear-gradient(
                        180deg,
                        #cfeffc 0%,
                        #cfeffc 49%,
                        #d16a4c 51%,
                        #d16a4c 100%
                      );
    }

    &--forest {
      background-image:          
                      url('./../../vendor/backgroud/backgroundColorForest.png'),
                      linear-gradient(
                        180deg,
                        #cfeffc 0%,
                        #cfeffc 49%,
                        #d16a4c 51%,
                        #d16a4c 100%
                      );
    }
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
  }

  &__stars-wrap {
    display: flex;
    margin-bottom: 20px;
  }

  &__stars {
    margin: 0 auto;
    padding: 0;
    display: flex;
  }

  &__star {
    display: block;
    width: 50px;
    height: 47px;
    margin: 0 2px;
    background-image: url('./../../vendor/decorate/star_outline.png');
    background-size: contain;

    &--active {
      background-image: url('./../../vendor/decorate/star.png');
    }
  }

  &__aside {
    &--left {
      margin-right: 30px;
    }

    &--right {
      margin-left: 30px;
    }
  }

  &__score-wrap,
  &__level-wrap,
  &__nextshape-wrap {
    border: 30px solid transparent;
    border-image: url('./../../vendor/decorate/element_border_square.png') 32 round;
    width: 230px;
    text-align: center;
  }

  &__level-wrap {
    margin-bottom: 30px;
    padding: 20px 0;
    background-color: #cfeffc;
  }

  &__score-wrap {
    margin-bottom: 328px;
    padding-top: 10px;
    min-height: 195px;
    background-color: #cfeffc;
  }

  &__nextshape-wrap {
    padding: 65px 0;
    margin-bottom: 72px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
    background-size: 150%;
    background-position: 100% 30%;
  }

  &__board {
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    display: block;
    margin: 0 auto;
    border: 30px solid transparent;
    border-image: url('./../../vendor/decorate/element_border_square.png') 32 round;
  }

  &__bg-inside {
    &--forest {
      background-image:
                      url('./../../vendor/backgroud/backgroundForest.png'),
                      linear-gradient(
                        180deg,
                        #cfeffc 0%,
                        #cfeffc 49%,
                        #b7e8fa 51%,
                        #b7e8fa 100%
                      );
    }

    &--castles {
      background-image:
                      url('./../../vendor/backgroud/backgroundCastles.png'),
                      linear-gradient(
                        180deg,
                        #cfeffc 0%,
                        #cfeffc 49%,
                        #b7e8fa 51%,
                        #b7e8fa 100%
                      );
    }

    &--desert {
      background-image:
                      url('./../../vendor/backgroud/backgroundDesert.png'),
                      linear-gradient(
                        180deg,
                        #cfeffc 0%,
                        #cfeffc 49%,
                        #b7e8fa 51%,
                        #b7e8fa 100%
                      );
    }

    &--empty {
      background-image:
                      url('./../../vendor/backgroud/backgroundEmpty.png'),
                      linear-gradient(
                        180deg,
                        #cfeffc 0%,
                        #cfeffc 49%,
                        #b7e8fa 51%,
                        #b7e8fa 100%
                      );
    }
  }

  &__score-label,
  &__level-wrap,
  &__nextshape {
    font-weight: bold;
    color: #3d3d3d;
    font-size: 20px;
  }

  &__score-label {
    display: flex;
    font-family: 'bit-opirus', Futura, sans-serif;
    font-size: 28px;
    line-height: .9;
    text-align: left;
    padding-left: 10px;
    padding-right: 10px;

    & > span {
      margin-left: auto;
    }

    &--tasks {
      display: block;
      text-align: center;
      border-bottom: 3px dashed;
      margin-left: 10px;
      margin-right: 10px;
      margin-top: 15px;
      color: #6f6e6e;
    }
  }

  &__tasks-list {
    padding: 0;
    list-style-type: none;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #6f6e6e;
  }

  &__tasks-item {
    position: relative;
    font-family: 'bit-opirus', Futura, sans-serif;
    font-size: 20px;
    line-height: .9;
    text-align: left;
    padding-left: 30px;

    &::before {
      position: absolute;
      left: 10px;
      top: 50%;
      transform: translateY(-50%);
      display: inline-block;
      content: '';
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background-color: #3b3b3b;
      background-image: url('./../../vendor/decorate/checkpoint_out.png');
      background-repeat: no-repeat;
      background-size: contain;
    }
  }

  &__level-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
  }

  &__level-label {
    white-space: pre-line;
    font-family: 'bit-opirus', Futura, sans-serif;
    font-size: 32px;
    line-height: .9;
  }

  &__row {
    display: flex;
  }

  &__cell {
    display: inline-block;
    width: 30px;
    height: 30px;
    box-sizing: border-box;
    color: #808080;
    border: 15px solid transparent;

    &-cyan {
      border-image: url('./../../vendor/decorate/element_cyan_square.png') 15 round;
    }

    &-orange {
      border-image: url('./../../vendor/decorate/element_orange_square.png') 15 round;
    }

    &-purple {
      border-image: url('./../../vendor/decorate/element_purple_square.png') 15 round;
    }

    &-red {
      border-image: url('./../../vendor/decorate/element_red_square.png') 15 round;
    }

    &-green {
      border-image: url('./../../vendor/decorate/element_green_square.png') 15 round;
    }

    &-blue {
      border-image: url('./../../vendor/decorate/element_blue_square.png') 15 round;
    }

    &-yellow {
      border-image: url('./../../vendor/decorate/element_yellow_square.png') 15 round;
    }
  }

  &__next-shape-grid {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100px;
    width: 100px;
  }

  &__next-shape-row {
    display: flex;
    justify-content: center;
  }
  
  &__next-shape-cell {
    display: inline-block;
    box-sizing: border-box;
    border: 15px solid transparent;
  }

  &__next-shape-cell.cell-cyan {
    border-image: url('./../../vendor/decorate/element_cyan_square.png') 15 round;
  }

  &__next-shape-cell.cell-orange {
    border-image: url('./../../vendor/decorate/element_orange_square.png') 15 round;
  }

  &__next-shape-cell.cell-purple {
    border-image: url('./../../vendor/decorate/element_purple_square.png') 15 round;
  }

  &__next-shape-cell.cell-red {
    border-image: url('./../../vendor/decorate/element_red_square.png') 15 round;
  }

  &__next-shape-cell.cell-green {
    border-image: url('./../../vendor/decorate/element_green_square.png') 15 round;
  }

  &__next-shape-cell.cell-blue {
    border-image: url('./../../vendor/decorate/element_blue_square.png') 15 round;
  }
  
  &__next-shape-cell.cell-yellow {
    border-image: url('./../../vendor/decorate/element_yellow_square.png') 15 round;
  }

  &__game-over,
  &__paused {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #14a0d8;
    border: 5px solid transparent;
    border-image: url('./../../vendor/decorate/border-overlay.png') 3 round;
    color: white;
    box-shadow: 0px 0px 5px 0px #000000bf;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    font-size: 24px;

    & > h2 {
      margin: 0;
    }
  }

  &__game-over {
    min-height: 135px;
    padding-bottom: 30px;
    font-family: 'bit-opirus', Futura, sans-serif;
    font-size: 34px;
    line-height: .8;
    z-index: 9;

    & > h2 {
      margin-top: 25px;
    }

    & > p {
      margin-top: 10px;
      margin-bottom: 10px;
    }
  }

  &__rang-wrap {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  &__rang-item {
    width: 90px;
    height: 90px;
    background-image: url('./../../vendor/decorate/level_out.png');
    background-repeat: no-repeat;
    background-size: contain;
    transform: translateY(-70px);

    &:first-child {
      width: 80px;
      height: 80px;
      transform: translate(23px, -39px) rotate(50deg);
    }

    &:last-child {
      width: 80px;
      height: 80px;
      transform: translate(-21px, -39px) rotate(20deg);
      z-index: -1;
    }
  }

  &__paused {
    font-family: 'bit-opirus', Futura, sans-serif;
    font-size: 36px;
    line-height: .9;
  }
 
  &__overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);
  }

  &__paused {
    height: 50px;
    z-index: 9;
    
  }

  &__game-over-btns {
    display: flex;
    position: relative;
    justify-content: center;
    width: 200px;
    margin: 0 auto;
  }

  &__restart-button,
  &__home-button {
    position: absolute;
    top: 0;
    display: block;
    width: 80px;
    height: 80px;
    background-color: #ffffff;
    border-radius: 50%;
    font-size: 0;
    cursor: pointer;
  }

  &__restart-button {
    left: 15px;
    background-image:
                    url('./../../vendor/decorate/reset-icon.svg'),
                    url('./../../vendor/decorate/border-restart-button.svg');
    background-repeat: no-repeat;
    background-size: 65%, contain;
    background-position: 17px 14px, center;
    border: none;
  }

  &__home-button {
    right: 15px;
    background-image:
                    url('./../../vendor/decorate/home-icon.svg'),
                    url('./../../vendor/decorate/border-home-button.svg');
    background-repeat: no-repeat;
    background-size: 65%, contain;
    background-position: 14px 12px, center;
    border: none;
  }
}

@keyframes moveBackground {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}
