body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: black;
}

.tetrogrid {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;

  &__bg-wrap {
    position: absolute;
    top: 0;
    left: 0;
    width: 200%;
    height: 100%;
    display: flex;
    z-index: -1;
    animation: moveBackground 20s linear infinite;
  }

  &__bg-stop {
    animation: none;
  }
  
  &__bg {
    width: 100%;
    height: 100%;
    background-image:          
                    url('./../../vendor/backgroud/backgroundColorForest.png'),
                    linear-gradient(180deg, rgba(207,239,252,1) 0%, rgba(207,239,252,1) 49%, rgba(209,106,76,1) 51%, rgba(209,106,76,1) 100%);
    background-size: 50%;
    background-position: center;
    background-repeat: repeat-x;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
  }

  &__stars-wrap {
    display: flex;
    margin-bottom: 20px;
  }

  &__stars {
    margin: 0 auto;
    padding: 0;
    display: flex;
  }

  &__star {
    display: block;
    width: 50px;
    height: 47px;
    margin: 0 2px;
    background-image: url('./../../vendor/decorate/star_outline.png');
    background-size: contain;

    &--active {
      background-image: url('./../../vendor/decorate/star.png');
    }
  }

  &__aside {
    &--left {
      margin-right: 30px;
    }

    &--right {
      margin-left: 30px;
    }
  }

  &__score-wrap,
  &__level-wrap,
  &__nextshape-wrap {
    border: 30px solid transparent;
    border-image: url('./../../vendor/decorate/element_border_square.png') 32 round;
    width: 230px;
    text-align: center;
  }

  &__level-wrap {
    margin-bottom: 30px;
    padding: 20px 0;
    background-color: #cfeffc;
  }

  &__score-wrap {
    margin-bottom: 363px;
    padding-top: 10px;
    min-height: 160px;
    background-color: #cfeffc;
  }

  &__nextshape-wrap {
    padding: 65px 0;
    margin-bottom: 72px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image:
                    url('./../../vendor/backgroud/backgroundForest.png'),
                    linear-gradient(180deg, #cfeffc 0%, #cfeffc 49%, #b7e8fa 51%, #b7e8fa 100%);
    background-repeat: no-repeat;
    background-size: 150%;
    background-position: 100% 30%;
  }

  &__board {
    background-image:
                    url('./../../vendor/backgroud/backgroundForest.png'),
                    linear-gradient(180deg, #cfeffc 0%, #cfeffc 49%, #b7e8fa 51%, #b7e8fa 100%);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    display: block;
    margin: 0 auto;
    border: 30px solid transparent;
    border-image: url('./../../vendor/decorate/element_border_square.png') 32 round;
  }

  &__score-label,
  &__level-wrap,
  &__nextshape {
    font-weight: bold;
    color: #3d3d3d;
    font-size: 20px;
  }

  &__score-label {
    display: block;
    text-align: left;
    padding-left: 10px;
  }

  &__level-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
  }

  &__level-label {
    white-space: pre-line;
  }

  &__row {
    display: flex;
  }

  &__cell {
    display: inline-block;
    width: 30px;
    height: 30px;
    box-sizing: border-box;
    color: #808080;
    border: 15px solid transparent;

    &-cyan {
      border-image: url('./../../vendor/decorate/element_cyan_square.png') 15 round;
    }

    &-orange {
      border-image: url('./../../vendor/decorate/element_orange_square.png') 15 round;
    }

    &-purple {
      border-image: url('./../../vendor/decorate/element_purple_square.png') 15 round;
    }

    &-red {
      border-image: url('./../../vendor/decorate/element_red_square.png') 15 round;
    }

    &-green {
      border-image: url('./../../vendor/decorate/element_green_square.png') 15 round;
    }

    &-blue {
      border-image: url('./../../vendor/decorate/element_blue_square.png') 15 round;
    }

    &-yellow {
      border-image: url('./../../vendor/decorate/element_yellow_square.png') 15 round;
    }
  }

  &__next-shape-grid {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100px;
    width: 100px;
  }

  &__next-shape-row {
    display: flex;
    justify-content: center;
  }
  
  &__next-shape-cell {
    display: inline-block;
    box-sizing: border-box;
    border: 15px solid transparent;
  }

  &__next-shape-cell.cell-cyan {
    border-image: url('./../../vendor/decorate/element_cyan_square.png') 15 round;
  }

  &__next-shape-cell.cell-orange {
    border-image: url('./../../vendor/decorate/element_orange_square.png') 15 round;
  }

  &__next-shape-cell.cell-purple {
    border-image: url('./../../vendor/decorate/element_purple_square.png') 15 round;
  }

  &__next-shape-cell.cell-red {
    border-image: url('./../../vendor/decorate/element_red_square.png') 15 round;
  }

  &__next-shape-cell.cell-green {
    border-image: url('./../../vendor/decorate/element_green_square.png') 15 round;
  }

  &__next-shape-cell.cell-blue {
    border-image: url('./../../vendor/decorate/element_blue_square.png') 15 round;
  }
  
  &__next-shape-cell.cell-yellow {
    border-image: url('./../../vendor/decorate/element_yellow_square.png') 15 round;
  }

  &__game-over,
  &__paused {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #14a0d8;
    border: 5px solid transparent;
    border-image: url('./../../vendor/decorate/border-overlay.png') 3 round;
    color: white;
    box-shadow: 0px 0px 5px 0px #000000bf;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    font-size: 24px;

    & > h2 {
      margin: 0;
    }
  }

  &__game-over {
    min-height: 135px;
  }

  &__paused {
    height: 50px;
    
  }

  &__game-over-btns {
    display: flex;
    position: relative;
    justify-content: center;
    width: 200px;
    margin: 0 auto;
  }

  &__restart-button,
  &__home-button {
    position: absolute;
    top: 0;
    display: block;
    width: 80px;
    height: 80px;
    background-color: #ffffff;
    border-radius: 50%;
    font-size: 0;
    cursor: pointer;
  }

  &__restart-button {
    left: 15px;
    background-image:
                    url('./../../vendor/decorate/reset-icon.svg'),
                    url('./../../vendor/decorate/border-restart-button.svg');
    background-repeat: no-repeat;
    background-size: 65%, contain;
    background-position: 17px 14px, center;
    border: none;
  }

  &__home-button {
    right: 15px;
    background-image:
                    url('./../../vendor/decorate/home-icon.svg'),
                    url('./../../vendor/decorate/border-home-button.svg');
    background-repeat: no-repeat;
    background-size: 65%, contain;
    background-position: 14px 12px, center;
    border: none;
  }
}

@keyframes moveBackground {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}






