.profile {
  margin: 0 auto;
  height: 70px;
  padding-left: 70px;
  background-image: url('./../../vendor/decorate/profile-avatar.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left;
  font-family: 'bit-opirus', Futura, sans-serif;
  cursor: pointer;
  box-sizing: border-box;

  &__name {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    margin-left: 20px;
    font-size: 16px;
    overflow: hidden;
    height: 70px;
    color: #3d3d3d;
  }

  &__overlay {
    display: none;;
  }
}