body {
  font: 14px 'Century Gothic', Futura, sans-serif;
  margin: 0px;
}

.home {
  &__wrapper {
    width: 100%;
    height: 100vh;
    background-color: #309adb;

    &::after {
      position: absolute;
      top: 140px;
      right: 50px;
      content: '';
      display: block;
      width: 240px;
      height: 150px;
      background-image: url('./../../vendor/ui/cloud-4.png');
      background-repeat: no-repeat;
      background-size: contain;
      animation: moveCloud1 20s linear infinite;
    }

    &::before {
      position: absolute;
      bottom: 240px;
      right: 10px;
      width: 700px;
      height: 300px;
      background-image:
                      url('./../../vendor/ui/cloud-5.png'),
                      url('./../../vendor/ui/cloud-6.png');
      background-repeat: no-repeat;
      background-position: left bottom, right top;
      background-size: 25%;
      content: '';
      display: block;
      animation: moveCloud2 50s linear infinite;
    }
  }

  &__bg-wrap {
    position: absolute;
    top: 0;
    left: 0;
    width: 200%;
    height: 100%;
    display: flex;
    animation: moveBackground 20s linear infinite;
  }

  &__bg {
    width: 100%;
    height: 100%;
    background-image: url('./../../vendor/ui/cloud-2.png');
    background-repeat: repeat-x;
    background-size: 35%;
    background-position: bottom;
  }

  &__badge {
    position: relative;

    &::after {
      position: absolute;
      top: 300px;
      right: 10px;
      width: 100px;
      height: 100px;
      background-image: url('./../../vendor/ui/cat1.png');
      background-repeat: no-repeat;
      background-size: contain;
      display: block;
      content: '';
      animation: moveCat 50s linear infinite;
      cursor: pointer;
      z-index: 9;
    }
  }

  &__badge-icon {
    position: relative;
    display: block;
    width: 250px;
    height: 250px;
    margin-left: auto;
    background-color: #ffffff;
    transform: rotate(45deg) translate(0px, -215px);

    &::after {
      display: block;
      position: absolute;
      bottom: 7px;
      left: 95px;
      content: '';
      width: 60px;
      height: 60px;
      background-image: url('./../../vendor/decorate/github.svg');
      background-repeat: no-repeat;
      background-size: 60px 60px;
      transform: rotate(-45deg);
    }
  }

  &__badge-text {
    position: absolute;
    top: 61px;
    right: -18px;
    font-size: 22px;
    font-family: monospace;
    transform: rotate(45deg);
    color: #ffffff;
  }

  &__profile {
    position: relative;
    display: flex;
    left: 50%;
    transform: translate(-50%, -110px);
    z-index: 999999999999999999999;
  }

  &__overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: linear-gradient(to bottom, #157CA8 0%, #157CA8 137px, #9696A3 137px, #9696A3 100%);
    border-radius: 15px;
    padding: 15px;
    box-shadow: 0px 0px 10px 0px #253d63eb;
    box-sizing: border-box;
    margin: 0 auto;
    width: 550px;

    &::after {
      position: absolute;
      top: 15px;
      border: 15px solid #36bcf7;
      border-radius: 15px 15px 0 0;
      box-sizing: border-box;
      content: '';
      display: block;
      width: 520px;
      height: 122px;
      background-color: #36bcf7;
    }

    &::before {
      position: absolute;
      bottom: 15px;
      border: 15px solid #fcfcfc;
      border-radius: 0 0 15px 15px;
      box-sizing: border-box;
      content: '';
      display: block;
      width: 520px;
      height: 430px;
      background-color: #fcfcfc;
    }
  }

  &__left,
  &__right {
    position: absolute;
    top: 60px;
    width: 400px;
    height: 465px;
    background-color: #147ba8;
  }

  &__left {
    left: -400px;
    border-radius: 15px 0 0 15px;
    box-shadow:
              -12px 0px 14px -12px rgba(37, 61, 99, 0.922) inset,
              -6px 0px 19px -10px rgba(37, 61, 99, 0.922);

    &::after,
    &::before {
      position: absolute;
      left: 30px;
      content: '';
      display: block;
      width: 25px;
      height: 25px;
      border-radius: 50%;
      background-color: #157ca8;
      z-index: 9;
    }

    &::after {
      top: 30px
    }

    &::before {
      bottom: 30px;
    } 
  }

  &__leaders-wrap {
    height: 435px;
    background-color: #36bbf7;
    margin: 15px 0 15px 15px;
    padding-top: 45px;
    border-radius: 15px 0 0 15px;
    box-sizing: border-box;
    box-shadow: -12px 0px 14px -12px rgba(37, 61, 99, 0.922) inset;
  }

  &__leaders-list {
    list-style-type: none;
    padding: 0;
    font-family: 'bit-opirus', Futura, sans-serif;
    height: 325px;
    font-size: 15px;
    overflow-y: scroll;
    color: #fcfcfc;

    &::-webkit-scrollbar {
      width: 0;
    }
  }

  &__leaders-title {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 20px;
    width: 100%;
    font-family: 'bit-opirus', Futura, sans-serif;
    text-shadow: 1px 1px 2px #3d3d3d;
    color: #fcfcfc;
    text-align: center;
    padding-left: 30px;
    margin-bottom: 40px;
    z-index: 9;
  }

  &__right {
    right: -400px;
    border-radius: 0 15px 15px 0;
    box-sizing: border-box;
    box-shadow:
              12px 0px 14px -12px rgba(37, 61, 99, 0.922) inset,
              6px 0px 19px -10px rgba(37, 61, 99, 0.922);

    &::after,
    &::before {
      position: absolute;
      left: 345px;
      content: '';
      display: block;
      width: 25px;
      height: 25px;
      border-radius: 50%;
      background-color: #157ca8;
      z-index: 9;
    }

    &::after {
      top: 30px
    }

    &::before {
      bottom: 30px;
    } 
  }

  &__leaders-item {
    display: flex;
    align-items: center;
    padding-left: 15px;
    padding-bottom: 10px;
    text-shadow: 1px 1px 2px #3d3d3d;

    & > img {
      margin-right: 15px;
    }

    & > span {
      margin-left: auto;
      margin-right: 15px;
      color: #fdd335;
    }
  }

  &__count-list {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding-top: 60px;
    font-family: 'bit-opirus', Futura, sans-serif;
    background-color: #36bbf7;
    margin: 0px 15px 0 0;
    border-radius: 0 15px 15px 0;
    box-sizing: border-box;
    height: 435px;
    box-shadow: 12px 0px 14px -12px rgba(37, 61, 99, 0.922) inset;
    font-size: 15px;
    color: #fcfcfc;
  }

  &__count-title {
    position: absolute;
    top: 15px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 21px;
    font-family: 'bit-opirus', Futura, sans-serif;
    text-shadow: 1px 1px 2px #3d3d3d;
    color: #fcfcfc;
    text-align: center;
    margin-bottom: 40px;
    padding-right: 20px;
    z-index: 9;
  }
  
  &__count-item {
    display: flex;
    padding-left: 15px;
    padding-bottom: 15px;
    text-shadow: 1px 1px 2px #3d3d3d;

    & > span {
      color: #fdd335;
      margin-left: auto;
      margin-right: 10px;
      font-size: 18px;
      text-shadow: 1px 1px 2px #3d3d3d;
    }
  }

  &__title {
    position: relative;
    margin: 15px;
    margin-top: -57px;
    margin-bottom: 0;
    text-align: center;
    padding: 13px 0;
    border-radius: 15px 15px 0 0;
    background-color: #1b9fd7;
    font-family: 'bit-pixel', Futura, sans-serif;
    font-size: 108px;
    color: #ffffff;
    text-transform: uppercase;
    text-shadow: 1px 1px 2px #000000;
    z-index: 9;

    &::after,
    &::before {
      position: absolute;
      top: 15px;
      content: '';
      display: block;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      background-color: #157ca8;
    }

    &::after {
      left: 15px;
    }

    &::before {
      right: 15px;
    }
  }

  &__list {
    position: relative;
    margin: 15px;
    padding: 0;
    padding-top: 25px;
    min-height: 400px;
    box-sizing: border-box;
    list-style-type: none;
    background-color: #dadce7;
    border-radius: 0 0 15px 15px;

    &::after,
    &::before {
      position: absolute;
      bottom: 15px;
      content: '';
      display: block;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      background-color: #9696a3;
    }

    &::after {
      left: 15px;
    }

    &::before {
      right: 15px;
    }
  }

  &__item {
    position: relative;
    text-align: center;
  }

  &__item-active {
    &::after {
      position: absolute;
      top: -5px;
      left: 0;
      content: '';
      display: block;
      width: 100px;
      height: 60px; 
      background-image: url('./../../vendor/ui/arrow.png');
      background-size: 95%;
      background-position: center;
      background-repeat: no-repeat;
      animation: pulse 4s linear infinite;
    }

    & > .home__link {
      font-size: 64px;
    }
  }

  &__link {
    text-decoration: none;
    font-size: 58px;
    color: #157CA8;
    font-family: 'bit-pixel', Futura, sans-serif;
    font-weight: bold;
    text-shadow: 1px 1px 2px #ffffff;
    transition: font .5s;

    &:hover {
      font-size: 64px;
    }
  }
}

@keyframes moveBackground {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

@keyframes moveCloud1 {
  from {
    transform: translateX(250%);
  }
  to {
    transform: translateX(-1500%);
  }
}

@keyframes moveCloud2 {
  from {
    transform: translateX(150%);
  }
  to {
    transform: translateX(-1000%);
  }
}

@keyframes moveCat {
  from {
    transform: translateX(9100%) rotate(360deg);
  }
  to {
    transform: translateX(-2000%) rotate(-360deg);
  }
}

@keyframes pulse {
  0% {
    transform: scale(0.8);
    opacity: .8;
  }
  50% {
    transform: scale(1.1);
    opacity: 1;
  }
  100% {
    transform: scale(0.8);
    opacity: .8;
  }
}