.pause {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #14a0d8;
  border: 5px solid transparent;
  border-image: url('./../../vendor/decorate/border-overlay.png') 3 round;
  color: white;
  box-shadow: 0px 0px 5px 0px #000000bf;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  font-family: 'bit-opirus', Futura, sans-serif;
  line-height: 2.5;
  height: 50px;
  z-index: 101;

  & > h2 {
    margin: 0;
  }

  &__overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);
    z-index: 100;
  }
}