.hint {
  position: absolute;
  bottom: 0;
  font-family: 'bit-opirus', Futura, sans-serif;
  color: #ffffff;

  &--black {
    color: #3d3d3d
  }

  &--left {
    left: 0;
    width: 390px;
    padding-left: 30px;
  }

  &--right {
    right: 0;
    width: 335px;
    padding-right: 30px;
  }

  &__restart,
  &__pause,
  &__spin,
  &__fast,
  &__move {
    display: flex;
    height: 70px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: contain;

    & > span {
      display: flex;
      align-items: center;
      box-sizing: border-box;
      margin-left: auto;
    }
  }

  &__restart {
    margin-bottom: 15px;
    background-image: url('./../../vendor/decorate/restart-key-white.svg');

    &--black {
      background-image: url('./../../vendor/decorate/restart-key-black.svg');
    }
  
    & > span {
      width: calc(100% - 70px);
      padding-left: 10px;
    }
  
    &.pressed {
      background-image: url('./../../vendor/decorate/restart-key-active.svg');
  
      & > span {
        color: #f47070;
      }
    }
  }

  &__pause {
    margin-bottom: 30px;
    background-image: url('./../../vendor/decorate/space-bar-key-white.svg');

    &--black {
      background-image: url('./../../vendor/decorate/space-bar-key-black.svg');
    }
  
    & > span {
      width: calc(100% - 250px);
      padding-left: 10px;
    }
  
    &.pressed {
      background-image: url('./../../vendor/decorate/space-bar-key-active.svg');
  
      & > span {
        color: #f47070;
      }
    }
  }

  &__spin {
    margin-bottom: 15px;
    background-image: url('./../../vendor/decorate/top-key-white.svg');
    background-position: right;

    &--black {
      background-image: url('./../../vendor/decorate/top-key-black.svg');
    }
  
    & > span {
      justify-content: flex-end;
      width: calc(100% - 70px);
      padding-right: 10px;
      margin-left: 0;
    }
  
    &.pressed {
      background-image: url('./../../vendor/decorate/top-key-active.svg');
  
      & > span {
        color: #f47070;
      }
    }
  }

  &__fast {
    margin-bottom: 15px;
    background-image: url('./../../vendor/decorate/bottom-key-white.svg');
    background-position: right;

    &--black {
      background-image: url('./../../vendor/decorate/bottom-key-black.svg');
    }
  
    & > span {
      justify-content: flex-end;
      width: calc(100% - 70px);
      padding-right: 10px;
      margin-left: 0;
    }
  
    &.pressed {
      background-image: url('./../../vendor/decorate/bottom-key-active.svg');
  
      & > span {
        color: #f47070;
      }
    }
  }

  &__move {
    margin-bottom: 30px;
    background-image:
                    url('./../../vendor/decorate/left-key-white.svg'),
                    url('./../../vendor/decorate/right-key-white.svg');
    background-position: 180px, right;

    &--black {
      background-image:
                      url('./../../vendor/decorate/left-key-black.svg'),
                      url('./../../vendor/decorate/right-key-black.svg');
    }
  
    & > span {
      justify-content: flex-end;
      width: calc(100% - 155px);
      padding-right: 10px;
      margin-left: 0;
      
    }
  
    &.pressed {
      background-image:
                    url('./../../vendor/decorate/left-key-active.svg'),
                    url('./../../vendor/decorate/right-key-active.svg');
  
      & > span {
        color: #f47070;
      }
    }
  }
}
