.nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 35px;
  height: 40px;
  z-index: 102;
  cursor: pointer;
  margin: 30px;

  &__dash {
    display: block;
    width: 100%;
    box-shadow: 0 2px 10px 0 rgba(0,0,0,0.3);
    border-radius: 3px;
    height: 5px;
    background: #cacaca;
    transition: all .3s;
    position: relative;
  }

  &__wrapper {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    width: 350px;
    transform: translateX(-350px);
    height: 100vh;
    background-color: #058ec9;
    border-right: 0px solid transparent;
    // border-image: url('./../../vendor/decorate/border-overlay.png') 3 round;
    box-shadow: 0px 0px 5px 0px #000000bf;
    z-index: 101;
    transition: transform .5s;
    overflow: hidden;
  }

  &__wrapper-active {
    transform: translateX(0);
  }

  &--active span:nth-child(1) {
    animation: ease .7s top forwards;
  }

  &--not-active span:nth-child(1) {
    animation: ease .7s top-2 forwards;
  }

  &--active span:nth-child(2) {
    animation: ease .7s scaled forwards;
  }

  &--not-active span:nth-child(2) {
    animation: ease .7s scaled-2 forwards;
  }

  &--active span:nth-child(3) {
    animation: ease .7s bottom forwards;
  }

  &--not-active span:nth-child(3) {
    animation: ease .7s bottom-2 forwards;
  }

  &__buttons {
    display: flex;
    flex-direction: column;
    margin-top: 80px;
    padding: 0 30px;
  }

  &__button {
    font-size: 14px;
    padding: 20px 0;
    margin: 7px 0;
    border-radius: 15px;
    border: none;
    font-family: 'bit-opirus', Futura, sans-serif;
    box-shadow: 0px 0px 10px 0px #253d63eb;
    background: linear-gradient(176deg,rgba(252, 252, 252, 1) 0%, rgba(218, 220, 231, 1) 74%);
    cursor: pointer;

    &:hover {
      background: linear-gradient(180deg,rgba(251, 212, 65, 1) 0%, rgba(240, 167, 22, 1) 74%);
      box-shadow: 0px 0px 10px 0px #111010eb;
    }
  }

  &__list {
    list-style-type: none;
    padding: 10px 0;
    margin: 0 30px;
    margin-top: auto;
    border-top: 1px solid #ffffff;
    border-bottom: 1px solid #ffffff;
  }

  &__item {
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    padding: 10px 0;

    &:nth-child(n) {
      &::before,
      &::after {
        display: block; 
        content: '';
        width: 50px;
        height: 50px;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
      }
    }

    &:nth-child(1) {
      &::before {
        background-image: url('./../../vendor/decorate/ru.png');
      }

      &::after {
        background-image: url('./../../vendor/decorate/us.png');
      }
    }

    &:nth-child(2) {
      &::before {
        background-image: url('./../../vendor/decorate/sun.png');
      }

      &::after {
        background-image: url('./../../vendor/decorate/moon.png');
      }
    }

    &:nth-child(3) {
      &::before {
        background-image: url('./../../vendor/decorate/speaker_off.png');
      }

      &::after {
        background-image: url('./../../vendor/decorate/speaker_on.png');
      }
    }
  }

  &__author {
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 15px;
    background-image: url('./../../vendor/decorate/ewudes.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 70%;
    height: 70px;
    font-size: 0;
  }
}

.nav__dash + .nav__dash {
  margin-top: 5px;
}

@keyframes top {
  0% {
    top: 0;
    transform: rotate(0);
  }
  50% {
    top: 22px;
    transform: rotate(0);
  }
  100% {
    top: 9px;
    transform: rotate(45deg);
  }
}

@keyframes top-2 {
  0% {
    top: 22px;
    transform: rotate(45deg);
  }
  50% {
    top: 22px;
    transform: rotate(0deg);
  }
  100% {
    top: 0;
    transform: rotate(0deg);
  }
}

@keyframes bottom {
  0% {
    bottom: 0;
    transform: rotate(0);
  }
  50% {
    bottom: 22px;
    transform: rotate(0);
  }
  100% {
    bottom: 10px;
    transform: rotate(135deg);
  }
}

@keyframes bottom-2 {
  0% {
    bottom: 22px;
    transform: rotate(135deg);
  }
  50% {
    bottom: 22px;
    transform: rotate(0);
  }
  100% {
    bottom: 0;
    transform: rotate(0);
  }
}

@keyframes scaled {
  50% {
    transform: scale(0);
  }
  100% {
    transform: scale(0);
  }
}

@keyframes scaled-2 {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}